{% extends "base.html" %}
{% block content %}
<section id="wrapper">
  <header id="header">
    <img id="avatar" class="2x" src="{% static '/static/images/avatar.jpg'%}"/>
    <h1>
      <a id="link" href="https://keybase.io/eugenpirogoff" target="_new">{% block title %}Eugen Pirogoff{% endblock title %}</a>
    </h1>
    <h5>code, improvement and other findings</a>
    </h5>
    <a id="link" href="http://www.twitter.com/eugenpirogoff" target="_new"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a id="link" href="http://www.github.com/eugenpirogoff" target="_new"><i class="fa fa-github-square fa-2x"></i></a>
    <a id="link" href="https://keybase.io/eugenpirogoff" target="_new"><i class="fa fa-user fa-2x" ></i></a>
    <a id="link" href="http://de.linkedin.com/in/eugenpirogoff/" target="_new"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a id="link" href="http://instagram.com/eugenpirogoff" target="_new"><i class="fa fa-instagram fa-2x"></i></a>
  </header>
  <ul id="post-list">
    <li>
      <a href="https://github.com/eugenpirogoff/pathlogger" class="link" id="id" target="_new"><h4>PathLogger - gps logging for iOS</h4></a>
      <aside class="dates">2015-05-13</aside>
    </li>
    <li>
      <a href="https://github.com/eugenpirogoff/acli" class="link" id="id" target="_new"><h4>acli -  a(wesome swift)cli</h4></a>
      <aside class="dates">2014-10-26</aside>
    </li>

    <li>
      <a href="https://medium.com/p/a7ae7d20b3be" class="link" id="id" target="_new"><h4>Pluto -  remote controller for HexGL</h4></a>
      <aside class="dates">2014-03-06</aside>
    </li>

    <li>
      <a href="https://medium.com/p/4b56cd0173ff" class="link" id="id" target="_new"><h4>Ransack - search images by location in twitter</h4></a>
      <aside class="dates">2014-02-19</aside>
    </li>

    <li>
      <a href="https://medium.com/html-css-and-happiness/32e8be47379b" class="link" id="id" target="_new"><h4>InstaDiv - self updating instagram div</h4></a>
      <aside class="dates">2014-02-18</aside>
    </li>

  </ul>

</section>


{% endblock content %}
